.footer{
    padding-bottom: 115px;
    &__content{
        background-color: $secondary;
        color:#fff;
        font-family: $SecondFontFamily;
        font-weight: 600;
    }
    &__container {
        @include adaptive-value('font-size', 14, 10, 0);
        display:flex;
        justify-content: space-between;
    }
    &__logo-column{
        display:flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__logo-icon{
        font-size: 32px;
        margin: 0 0 24px 0;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }
    .footer-menu {
        display:flex;
        &__heading{
           color:$accent;
           font-weight: 800;
        }
        &__links{
            margin-right: 50px;
        }
        &__link{
            margin-top: 20px;
        }
    }

}

.copyright {
    &__text {
        color: #FFFFFF;
        opacity: 0.5;
    }
}