.main-heading {
    padding-top: 140px;
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(11,29,38,1) 100%), linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%), url("../img/VG.png"), url("../img/MG.png"), url("../img/HG.png"), linear-gradient(rgba(11, 29, 38, 1), rgba(11, 29, 38, 1));
    background-size: 100% 10%, 100% 100%,100% 50%, 100% 70%, 100% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:  bottom,  top, bottom, bottom, top, top;

    &_btn{
        padding: 15px 40px 15px 0;
        text-transform:none;
        line-height: 2;
        position:relative;
        &:after{
            display: block;
            background: url("../img/arrow_downward_24px.svg");
            background-repeat: no-repeat;
            background-position: bottom;
            position:absolute;
            content:"";
            height: 40px;
            width:20px;
            right:0;
            top:5px;
        }
        @media (max-width: $md3+px) {
            padding: 5px 10px;
        }
    }
    &__container {
        height: 1200px;
        padding-top: 120px;
        position: relative;
        @media (max-width: $md1+px) {
            height: 1200px;
        }
        @media (max-width: $md2+px) {
            height: 800px;
        }
        @media (max-width: $md3+px) {
            height:625px;
        }
        @media (max-width: $md4+px) {
            height: 390px;
        }
    }
    &__content {
        color: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $md3+px) {
        }
        @media (max-width: $md4+px) {

        }
    }
    &__block {
        margin: 202px 0 0 140px;
        @media (max-width: $md4+px) {
            margin: 50px 0 0 20px;
            width: 100%;
        }
    }
    &__title {
        margin: 0 auto;
        line-height: 1.5;
        font-family:$fontFamilyBold;
        font-weight: normal;
        text-transform: capitalize;
        color: #fff;
        text-align: left;
        @include adaptive-value('font-size',
        88,
        48,
        0);
        @media (max-width: $md4+px) {
            font-size: 30px;
        }
    }
    &__text {
        @include adaptive-value('font-size',
        16,
        14,
        0);
        // @media (max-width: $md4+px) {
        // }
    }
    &__social-links-container{
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        
        .text{
            writing-mode:tb-rl;
            margin-bottom: 30px;
            font-weight: 600;;
        }

    } 
    .img-container:nth-child(2){
            display:block;
            padding-bottom: 30px;
        }
    &__title-container{
        position: relative;
    }
    &__slider-container{
        position:relative;
        .slider-content{
        display:flex;
        position: absolute;
        right: 80px;
        top: 11px;
        }
        .slider-text li{
            padding-top: 30px;
            padding-right:30px;
            font-weight: 600;
            text-align:right;
        }

        .slider-indicate{
            width:3px;
            height: 240px;
            background-color: rgba(255, 255, 255, 0.3);
            position:relative;
        & .slider-indicator{
            position:absolute;
            top:50%;
            left:0;
            width:3px;
            height:25%;
            background-color: rgba(255, 255, 255, 1);
            transition: top .3s ease-in-out;
            }
        }
    }
}