.section{
    margin-top: 30px;
    &__header{
    }
}
.introduction {
	&__information { 
        
    }
}
.info-block__container { 
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    .info-block { 
        flex: 1.5 0.8 200px;
    

}
.info-block~.info-block{
        margin-left: 30px;
        @media (max-width:$md4+px) {
            margin-left: 0;
        }
    }
}
.info{

}
.img-container { 

}
.ill {

}
.text-container { 

.text { 
    @include adaptive-value('font-size', 16, 12, 0);
}
}
.main_content{
    &__header{
        margin:0;
    }
    .info-block{
        display:flex;
        @media (max-width: $md4+px){
            flex-wrap: wrap;
        }    
    }
    .img-container{
        margin-right: 30px;
        flex:1 0 200px;
        padding: 0;
        @media (max-width: $md4+px){
            height: 200px;
            margin-right: 0;
        }
    }

    .info-block~.info-block{
        margin-top: 30px;
        @media (max-width: $md4+px){
            margin-top: 0px;
        }
    }
    .ill{
        @media (max-width: $md4+px){
        position: static;
    }
    }

}

